---
layout: default
description: >
  Grok some code. Programming tutorials, long form articles, and opinion pieces about building things on the internet.
---

<div class="home">

  <div id="pageHead">
    <div id="homeMessage" class="clearfix page">{{ site.intro | markdownify }}</div>
  </div>

  <div id="recent" class="extraBox">
    <h3 class="accent-header">Recent Articles</h3>
    <ul class="post-list">
      {% for post in site.posts | limit: 2 %}
        {% include post_summary.html post=post %}
      {% endfor %}
    </ul>
  </div>
</div>
