<div id="comment-section" class="hidden comments">

  <header class="post-header">
    <h1 class="post-title">Discussion on<br/><a href="{{ site.url }}{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
    <p class="post-meta top">
      <i>by</i> <a href="{{ site.baseurl }}/about/">{{ page.author }}</a> in {% include category_link.html category=page.categories.first %}
    </p>
  </header>

  {% assign num_comments = comments | size %}
  {% if num_comments == 0 %}
    <h3>No comments yet, you could be first.</h3>
  {% else %}
    <h3>{{ num_comments }} Comments</h3>
  {% endif %}
  <ol id="commentslist">
    {% for c in comments %}
      {% assign comment = c[1] %}
      {% include comment.html %}
    {% endfor %}
  </ol>
  <h3>Leave a reply</h3>
  <form id="comment-form" method="POST" action="https://api.staticman.net/v2/entry/grokcode/grokcode.github.io/master/comments">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name (required)</label>
    <label><input name="fields[email]" type="email">Email (required)</label>
    <label><input name="fields[url]" type="text">Website</label>
    <textarea name="fields[message]"></textarea>

    <div id="moderation" class="hidden js-notice">
      <p class="js-notice-text"></p>
    </div>

    <button id="comment-form-submit" type="submit">
      <span class="btn-txt">Submit Comment</span>
      <div class="loader">Loading...</div>
    </button>
  </form>

</div>
