<div id="disqus_thread"></div>
<script>
 function getParameterByName(name, url) {
   if (!url) {
     url = window.location.href;
   }
   name = name.replace(/[\[\]]/g, "\\$&");
   var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
   results = regex.exec(url);
   if (!results) return null;
   if (!results[2]) return '';
   return decodeURIComponent(results[2].replace(/\+/g, " "));
 }

 // If the comments GET var is defined, hide the post body, replace the title, and
 // load the disqus comments
 if (getParameterByName('comments')) {
   document.getElementsByTagName("article")[0].style.display = 'none';
   document.getElementsByClassName("post-meta")[1].style.display = 'none';
   var currentTitle = document.getElementsByClassName("post-title")[0]
   currentTitle.innerHTML = 'Discussion on<br><a href="{{ site.url }}{{ page.url }}">' + currentTitle.innerHTML +'</a>';

   /* https://disqus.com/admin/universalcode/#configuration-variables */
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}' + '?comments=y';
        this.page.identifier = '{{ page.permalink }}';
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
 }

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
