<footer id="footer" class="site-footer">

  <div class="main clearfix">

    <div class="footer-box two-thirds-box">
      <h3>Further Reading</h3>
      <ul class="with-images">
	<li>
	  <a href="http://grokcode.com/11/the-top-9-in-a-hackers-bookshelf/">
	    <img src="XXX">
	  </a>
	  <a href="http://grokcode.com/11/the-top-9-in-a-hackers-bookshelf/">
	    A Hacker's Bookshelf
	  </a>
	</li>
	<li>
	  <a href="http://grokcode.com/655/how-to-increase-productivity-by-reordering-your-office/">
	    <img src="XXX">
	  </a>
	  <a href="http://grokcode.com/655/how-to-increase-productivity-by-reordering-your-office/">
	    Scientifically Proven Tips For A More Productive Office
	  </a>
	</li>
      </ul>
      <p><a href="XXX">Browse the article archives</a></p>
    </div>

    <div class="footer-box one-third-box">
      <!-- XXX email subscribe goes here -->
    </div>

  </div>

  <div class="secondary clearfix">
    <div class="right">
      <p>© 2007-{{ 'now' | date: "%Y" }} GrokCode</p>
    </div>
  </div>

</footer>
