<header id="header">

  <div class="inside clearfix">

    <div id="logo">
      <h1 class="logo">
	<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo.png"></a>
      </h1>
    </div>
    <nav id="mainNav" class="clearfix">
      <ul>
        <li class="menu-item {% if page.url == '/' %}current{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        {% for p in site.pages %}
          {% if p.menu_title %}
            <li class="menu-item {% if page.url == p.url %}current{% endif %}"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.menu_title }}</a></li>
	  {% endif %}
	{% endfor %}
        <li class="menu-item {% if page.url == '/category/archives/' %}current{% endif %}"><a href="{{ site.baseurl }}/category/archives/">Archives</a></li>
      </ul>
    </nav>
    <div id="side_widgets">

      <!-- XXX Search should go here -->

      {% if site.about %}
      <div class="sidebar_box">
        <h3 class="accent-header">About</h3>
	<p>{{ site.about | markdownify }}</p>
      </div>
      {% endif %}

      <div class="sidebar_box">
	<div class="flare-follow">
	  {% if site.github_username %}
	  <a href="https://www.github.com/{{ site.github_username}}">
            <img src="{{ site.baseurl }}/assets/img/github.png">
	  </a>
	  {% endif %}
	  {% if site.twitter_username %}
	  <a href="http://www.twitter.com/{{ site.twitter_username}}">
            <img src="{{ site.baseurl }}/assets/img/twitter.png">
	  </a>
	  {% endif %}
	  {% if site.gplus_id %}
	  <a href="http://plus.google.com/{{ site.gplus_id}}">
            <img src="{{ site.baseurl}}/assets/img/google-plus.png">
	  </a>
          {% endif %}
          {% if site.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ site.baseurl}}/assets/img/linkedin.png">
	  </a>
	  {% endif %}
	</div>
      </div>

    </div>

  </div>

</header>
