<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  {% capture description  %}
    {% if page.description %}
      {{ page.description }}
    {% elsif page.excerpt %}
      {{ page.excerpt | strip_html }}
    {% else %}
      {{ site.description }}
    {% endif %}
  {% endcapture %}
  <meta name="description" content="{{ description | strip }}">

  <meta name="robots" content="noindex">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,italic,bold,bolditalic" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/favicon-152.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/img/favicon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/img/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicon-32.png">

  {% if page.layout == 'post' %}
    <script data-cfasync="false" type="text/javascript" src="//filamentapp.s3.amazonaws.com/34d7a5b12f0367bfeded5e49daae39cd.js" async="async"></script>
  {% endif %}

  <script type="application/ld+json">
   [
     {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "name": "GrokCode",
       "url": "http://grokcode.com"
     },
     {
       "@context": "http://schema.org",
       "@type": "Person",
       "givenName": "Jess",
       "familyName": "Johnson",
       "url": "http://grokcode.com/about/",
       "jobTitle": "Senior Software Developer",
       "email": "jess@grokcode.com",
       "sameAs": [
         "https://www.github.com/grokcode",
         "http://www.twitter.com/grokcode",
         "http://plus.google.com/104959372961388172986",
         "https://www.linkedin.com/in/grokcode"
       ],
       "brand": {
         "@type": "Organization",
         "url": "http://grokcode.com",
         "logo": "http://grokcode.com/assets/img/logo.png"
       }
     }
   ]
  </script>

</head>
