#pageHead {
  padding: 10px 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid $sep-color;
  > * {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.page #pageHead h1 {
  text-align: left;
}

#homeMessage {
  p {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  p:last-child {
    margin: 0;
  }
}

#mainNav {
  .menu-item.current a {
    color: darken($brand-color, 15%);
  }
}

.accent-header {
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  font-size: 1em;
}

#recent {
  .accent-header {
    font-size: 16px;
  }
}

.flare-follow {
  img {
    padding: 2px;
  }
}

#content .post ul.skillList {
  margin-left: 0;
  li {
    font-size: .75em;
    line-height: 1em;
    list-style-position: outside;
    background: $grey-color-darker;
    display: inline-block;
    color: $white-color;
    padding: 6px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    text-indent: 0;
  }
}

.post-list {
  .post {
    margin-bottom: 60px;
    h2 {
      font-weight: normal;
      margin: 0 0 5px 0;
      line-height: 1em;
    }
    .post-meta {
      margin: 0 0 20px 0;
    }
  }
}

#content .post, #content #comment-section {
  .post-header {
    margin-bottom: 40px;
  }
  h2 {
    padding: 10px 0;
  }
  .post-meta.bottom {
    float: right;
    margin: 30px 0 8px 0;
    span {
      margin: 0 5px;
    }
  }
}

#content > .flare {
  float: left;
  top: -40px;
  padding-top: 0;
  z-index: -5;
}

.post-portfolio {
  h2 {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

#comment-section {
  margin-bottom: 60px;
  #moderation {
    background-color: fade-out($brand-color, .80);
    border: 1px solid fade-out($brand-color, .80);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 40px;
    p {
      margin: 0;
    }
  }
  #commentslist {
    padding-bottom: 1px;
    .comment {
      margin: 20px 0 40px 0;
      .gravatar {
        float: left;
        width: 62px;
        height: 62px;
      }
      .comment-body {
        margin-left: 80px;
        h5 {
          margin-bottom: 0;
          font-weight: normal;
        }
        .date {
          color: $alt-text-color;
          font-size: $small-font-size;
          display: block;
        }
      }
    }
  }
}

#comment-form {
  input {
    width: 200px;
    max-width: 50%;
    margin-right: 15px;
  }
  label {
    display: block;
    font-size: $small-font-size;
  }
  textarea {
    height: 200px;
  }
}