#pageHead {
  padding: 10px 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid $sep-color;
  > * {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.page #pageHead h1 {
  text-align: left;
}

#homeMessage {
  p {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  p:last-child {
    margin: 0;
  }
}

#mainNav {
  .menu-item.current a {
    color: darken($brand-color, 15%);
  }
}

.accent-header {
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  font-size: 1em;
}

#recent {
  .accent-header {
    font-size: 16px;
  }
}

.flare-follow {
  img {
    padding: 2px;
  }
}

#content .skillList {

  li {
    font-size: .75em;
    line-height: 1em;
    background: $grey-color-darker;
    display: inline-block;
    color: $white-color;
    padding: 6px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
  }
}

.post-list {
  .post {
    margin-bottom: 60px;
    h2 {
      font-weight: normal;
      margin: 0 0 5px 0;
      line-height: 1em;
    }
    .post-meta {
      margin: 0 0 20px 0;
    }
  }
}

#content .post {
  h2 {
    padding: 10px 0;
  }
  ul {
    margin: 0 0 25px 20px;
    list-style-type: disc;
  }
}

.post-portfolio {
  h2 {
    margin-top: 60px;
  }
}