/**
 * Main layout
 */


body {
    border-top: 5px solid $accent-color;
}

#container {
    max-width: 50em;
    margin: 0 auto;
}

#header {
    width: 21%;
    position: fixed;
    float: left;
    margin-left: 20px;
    padding-top: $spacing-unit;
    #logo img {
	max-width: 141px;
    }
}

#main {
    width: 70%;
    float: right;
    padding: $spacing-unit 0 0 0;
    border-bottom: 1px solid $grey-color !important;
    margin: 0 20px 30px 0;
}

#footer {
    width: 70%;
    float: right;
    clear: both;
    margin: 0 0 30px 0;
}

#header, #footer, #content .post-meta {
    font-size: $small-font-size;
    color: $alt-text-color;
    line-height: 1.7em;
    h3 {
	text-transform: uppercase;
	font-weight: normal;
	color: #333333;
    }
}



@media #{$on-tablet} {
    #header, #main, #footer {
	width: 94%;
    }
    #header {
	float: none;
	position: relative;
	margin: 0 auto 10px auto;
	padding: 20px 0;
	#logo {
	    margin: 0;
	    display: inline-block;
	    width: 100px;
	    img {
		max-width: 100%;
		height: auto;
	    }
	}
	#mainNav {
	    right: 20px;
	    position: absolute;
	    top: 50%;
	    height: 20px;
	    margin-top: -10px;
	    li {
		margin: 0 0 0 1.5em;
		display: inline-block;
		padding: 0;
	    }
	}
	#side_widgets {
	    display: none;
	}
    }
    #main {
	margin: 0 auto 30px auto;
	padding-top: 0;
	float: none;
    }
}

@media #{$on-phone} {
    #header #logo {
	float: none;
	width: 60px;
	margin: 0 auto 20px auto;
    }
    #mainNav {
	position: relative;
	margin-top: 0;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0 0 5px 0;
	display: block;
    }
}