---
layout: default
---
<div id="post-section" class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta top">
      <i>by</i> <a href="{{ site.baseurl }}/about/">{{ page.author }}</a> in {% include category_link.html category=page.categories.first %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="sharethis-inline-share-buttons" data-username="grokcode" data-title="{{ page.title }}"></div>

  {% assign comments = site.data.comments[page.slug] %}
  <p class="post-meta bottom">
    <span><a class="permalink" href="{{ site.url }}{{ page.url }}">#</a></span>
    <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
    <span class="comment-count"><a href="{{ page.permalink }}?comments=y">{{ comments | size }} Comments</a></span>
  </p>

</div>

{% include comments.html %}
